html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: #539092;
    color: #539092;
}
    

h2 {
    color: black;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    gap: 10px;
}
a {
    text-decoration: none;
}

#grabber {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #8BCFCC;
    
    

}