html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0px;
    display: block;
    border-color: #539092;
    
    
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
    background-color: #46185F;
    color: #539092;
}
    

h2 {
    color: #BBBBBB;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    gap: 10px;
}
a {
    display: block;
    padding: 7px;
    text-decoration: none;
    font-weight: 700px;
    background-color: #297CA0;
    
}

a:hover {
    border: 1px solid #539092;
    background-color: #BBBBBB;
}

#grabber {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #46185F;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 40px;
    padding-bottom: 40px;
    
    

}

.basic-ramen {
    position: absolute;
    top: 11%;
    left: 62%;
    width: 220px;
    height: 220px;
}

.button {
    background-color: #E9EA77;
    border-radius: 20px;
    padding: 2px;
    
}

#team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #297CA0;
    
}

.rosy {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}

#rosy {
    width: 100px;
    height: 100px;
    background-color: grey;
}
.rosycap {
    display: block;
}

.joy {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}

#joy {
    width: 100px;
    height: 100px;
    background-color: grey;
}

.joycap {
    display: block;
}

.doc {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}

#doc {
    width: 100px;
    height: 100px;
    background-color: grey;
}

.doccap {
    display: block;
}

.gunner {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}

#gunner {
    width: 100px;
    height: 100px;
    background-color: grey;
}

.guncap {
    display: block;
}
footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0px;
    display: flex;
    border-color: #913175;
    background-color: #913175;
}